name: Default

on:
  - push

jobs:
  check-gradle-version:
    name: Check Gradle version
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: gradle/wrapper-validation-action@v1
      - uses: madhead/check-gradle-version@v1
    continue-on-error: true

  unit-test:
    name: Unit test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4

      - uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: '17'

      - uses: gradle/wrapper-validation-action@v1

      - uses: gradle/gradle-build-action@v2
        with:
          arguments: check
          cache-read-only: ${{ github.ref != 'refs/heads/source' }}

      - uses: actions/upload-artifact@v2
        if: always()
        with:
          name: test-results
          retention-days: 1
          path: |
            **/build/reports
            **/build/test-results
            **/build/jacoco
