name: Release

on:
  push:
    branches:
      - source

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-java@v2
        with:
          distribution: adopt
          java-version: 16

      - uses: gradle/wrapper-validation-action@v1

      - uses: burrunan/gradle-cache-action@v1
        with:
          job-id: release
          read-only: ${{ github.ref != 'refs/heads/source' }}

      - run: ./gradlew clean install

      - uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: docker/build-push-action@v2
        with:
          context: app
          push: true
          tags: >
            ghcr.io/${{ github.repository }}:latest
