name: Render

on:
  workflow_dispatch:
  issues:
  issue_comment:
  label:
  schedule:
    - cron: '0 4 * * *'

concurrency: render

jobs:
  render:
    name: Render
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: docker://ghcr.io/madhead/ideas:latest
        with:
          args: README.md
        env:
          LABEL_IDEA: ${{ secrets.LABEL_IDEA }}
          TOKEN_GITHUB: ${{ secrets.GITHUB_TOKEN }}
      - uses: stefanzweifel/git-auto-commit-action@v4
